
/* ==========================================================================
   AccesSlider core
   ========================================================================== */

.js [data-accessslider="slide"] {
	position: absolute;
	top: 0;
	left: 0;
}


/* ==========================================================================
   AccesSlider theme
   ========================================================================== */

.accessslider {
	position: relative;
	margin: 0;
	background: #efefef;
	min-height: 336px;
}


/* Button */
.accessslider-play-state {
	position: absolute;
	bottom: 10px;
	right: 266px;
	width: 100px;
	margin: 0;
	padding: 0.3em 1em;
	border: none;
	background: #000;
	color: #fff;
	font-weight: bold;
	z-index: 11;
}


/* Titles */
ul[data-accessslider="titles"] {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 257px;
	float: right;
	background: #dedede;
}
ul[data-accessslider="titles"] > li {
	border-top: 1px solid #555;
	outline: none;
}
ul[data-accessslider="titles"] > li:first-child {
	border-top: none;
}
ul[data-accessslider="titles"] a {
	display: block;
	padding: 0.5em 1em;
	outline: none;
	text-decoration: none;
}
ul[data-accessslider="titles"] > li:focus a,
ul[data-accessslider="titles"] a:hover {
	background: #fff;
}
.accessslider-active-title {
	background: #efefef;
}


/* Slide */
.accessslider-slides {
	overflow: hidden;
	width: 643px;
	height: 336px;
	position: relative;
}

.accessslider-slide {
	background: #fff;
}
.accessslider-active-slide {
}

.accessslider-slide a {
	display: block;
}

.accessslider-slide img {
	display: block;
}


/* Count */
.accessslider-slide-count {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 11;
}



/* Transitions */


/* From top */
.accessslider-transition-from-top .accessslider-slide {
	-webkit-transform: translate3d(0, -336px, 0);
	-ms-transform: translate3d(0, -336px, 0);
	transform: translate3d(0, -336px, 0);
}


/* From right */
.accessslider-transition-from-right .accessslider-slide {
	-webkit-transform: translate3d(643px, 0, 0);
	-ms-transform: translate3d(643px, 0, 0);
	transform: translate3d(643px, 0, 0);
}

/* From bottom */
.accessslider-transition-from-bottom .accessslider-slide {
	-webkit-transform: translate3d(0, 336px, 0);
	-ms-transform: translate3d(0, 336px, 0);
	transform: translate3d(0, 336px, 0);
}

/* From left */
.accessslider-transition-from-left .accessslider-slide {
	-webkit-transform: translate3d(-643px, 0, 0);
	-ms-transform: translate3d(-643px, 0, 0);
	transform: translate3d(-643px, 0, 0);
}





.accessslider-slides .accessslider-active-slide {
	-webkit-transition: -webkit-transform 1s ease;
	-moz-transition: -moz-transform 1s ease;
	-o-transition: -o-transform 1s ease;
	transition: transform 1s ease;

	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.accessslider-slides .accessslider-prev-slide {
	-webkit-transition: -webkit-transform 3s ease;
	-moz-transition: -moz-transform 3s ease;
	-o-transition: -o-transform 3s ease;
	transition: transform 3s ease;
}